body {
    background-image: linear-gradient(to right, rgb(3, 1, 12), rgb(38, 7, 53));
}

.card-footer {
    text-align: center;
}

.carousel {
    display: block;
    margin-top: -500px;
    margin-left: 700px;
    margin-right: 100px;

}

footer {
    text-align: center;
}

.left-text {
    color: aliceblue;
    font-size: 100px;
    font-weight: bold;
    font-family: Pacifico;
    margin-left: 150px;
    margin-top: 200px;
}

#my-name {
    margin-left: 100px;
    padding-right: 100px;
    font-family: 'Calistoga';
    font-size: 50px;
    text-shadow: 50px;
    color: aliceblue;
}

#navbar {
    margin-bottom: 50px;
}

.nav-item {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Pacifico;
}

.nav-link {
    color: aliceblue;
}

.nav-link:hover {
    color: darkgray;
}
