body {
    background-image: linear-gradient(to right, rgb(3, 1, 12), rgb(38, 7, 53));
}

.card-footer {
    text-align: center;
}

.carousel {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: auto;
    margin-left: 600px;
}

footer {
    text-align: center;
}

.left-text {
    color: aliceblue;
    font-size: 100px;
    font-weight: bold;
    font-family: Pacifico;
    margin-left: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#my-name {
    margin-left: 10px;
    padding-right: 100px;
    font-family: 'Calistoga';
    font-size: 50px;
    text-shadow: 50px;
    color: aliceblue;
}

#navbar {
    margin-top: 10px;
    margin-bottom: 50px;
}

.nav-link-dd {
    color: black;
}

.nav-link-dd:hover {
    color: gray;
}

.nav-item {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Pacifico;
}

.nav-link {
    color: aliceblue;
}

.nav-link:hover {
    color: darkgray;
}

.nav-link:focus {
    color: gray;
}